.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: rgba(255, 255, 255, 0.9); /* Añadir transparencia al fondo del modal */
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  position: relative;
  z-index: 1002; /* Asegurar que el modal esté al frente del overlay */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  margin-top: 20px;
  text-align: justify;
}

.close {
  font-size: 1.5em;
  cursor: pointer;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.client-preview {
  margin: 10px 0;
}

.client-preview iframe {
  width: 100%;
  height: 150px; /* Reducir la altura del iframe */
  border: none;
}

.client-preview h4 a {
  color: #000;
  text-decoration: none;
}

.client-preview h4 a:hover {
  text-decoration: underline;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .modal {
    padding: 15px;
    max-width: 90%; /* Ajustar el ancho máximo del modal */
  }

  .client-preview iframe {
    height: 120px; /* Reducir la altura del iframe */
  }
}

@media (max-width: 480px) {
  .modal {
    padding: 10px;
    max-width: 95%; /* Ajustar el ancho máximo del modal */
  }

  .client-preview iframe {
    height: 100px; /* Reducir la altura del iframe */
  }
}
